*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #fc872c;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-family: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0 auto;
  max-width: 70vw;
  transition: all 0.2s; }
  .heading-secondary--span {
    display: inline-block;
    background-image: linear-gradient(to bottom, rgba(255, 148, 66, 0.85), rgba(196, 62, 0, 0.85));
    color: #fff;
    padding: 0 2rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.2rem; } }
  .heading-secondary:hover {
    transform: skewY(1deg) skewX(5deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.description {
  font-size: 1.6rem; }
  .description:not(:last-child) {
    margin-bottom: 3rem; }

.util-center-text {
  text-align: center !important; }

.util-align-text-right {
  text-align: right !important; }

.util-align-text-left {
  text-align: left !important; }

.util-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.util-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .util-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.util-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .util-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.util-margin-top-big {
  margin-top: 8rem !important; }

.util-margin-top-huge {
  margin-top: 10rem !important; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn {
  /* duplicate button for hover effect */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--colored {
    background-color: #ff9442;
    color: #fff; }
    .btn--colored::after {
      background-color: #ff9442; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fc872c;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fc872c;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #fc872c;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 114rem;
  margin: 0 auto; }
  .flex-container:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .flex-container:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .flex-container {
      flex-direction: column;
      max-width: 50rem;
      padding: 0 3rem; } }
  .flex-container [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .flex-container [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .flex-container [class^="col-"] {
      width: 100% !important; } }
  .flex-container .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .flex-container .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .flex-container .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .flex-container .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .flex-container .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .flex-container .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.gallery {
  position: relative;
  /* pull the other images back, when one is hovered over */ }
  .gallery__images {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: -1px;
    outline: 0.5rem solid #777; }
    @media only screen and (max-width: 56.25em) {
      .gallery__images {
        float: left;
        position: relative;
        width: 33.33%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .gallery__images--image1 {
      top: -2rem;
      left: 0; }
      @media only screen and (max-width: 56.25em) {
        .gallery__images--image1 {
          top: 1rem;
          transform: scale(1.2); } }
    .gallery__images--image2 {
      top: 2rem;
      right: 0; }
      @media only screen and (max-width: 56.25em) {
        .gallery__images--image2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 10; } }
    .gallery__images--image3 {
      top: 10rem;
      left: 20%; }
      @media only screen and (max-width: 56.25em) {
        .gallery__images--image3 {
          top: 1rem;
          left: 0;
          transform: scale(1.3); } }
    .gallery__images:hover {
      outline: 1rem solid #999;
      transform: scale(1.07) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 30; }
      @media only screen and (max-width: 56.25em) {
        .gallery__images:hover {
          outline: 0.7rem solid #999;
          transform: scale(1.4); } }
  .gallery:hover .gallery__images:not(:hover) {
    transform: scale(0.93); }

.feature-container {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-container {
      padding: 2rem; } }
  .feature-container__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #ff9442, #c43e00);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-container__icon {
        margin-bottom: 0; } }
  .feature-container:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #6c655f, #4f4a46); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ff9442, #c43e00); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #a62e2f, #882627); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #6c655f, #4f4a46), url(../img/zechen/ewald-medium-2-min.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #ff9442, #c43e00), url(../img/zechen/zollverein-medium-2-min.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #a62e2f, #882627), url(../img/zechen/zollern-medium-1-min.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 3rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(108, 101, 95, 0.85), rgba(79, 74, 70, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 148, 66, 0.85), rgba(196, 62, 0, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(166, 46, 47, 0.85), rgba(136, 38, 39, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__booking {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-container {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-text {
    font-size: 1.8rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card__heading {
        right: 5rem; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__booking {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-container {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(255, 148, 66, 0.8), rgba(196, 62, 0, 0.8)), url(../img/zechen/zollverein-medium-1-min.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      height: 105vh; } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(255, 148, 66, 0.8), rgba(196, 62, 0, 0.8)), url(../img/zechen/zollverein-medium-1-min.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-container {
    position: absolute;
    top: 5rem;
    left: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .header__logo-container {
        top: 4rem;
        left: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__logo-container {
        top: 3rem;
        left: 3rem; } }
  .header__logo {
    height: 5rem; }
  .header__text-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 5rem;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 5rem;
  background-image: linear-gradient(to right bottom, rgba(255, 148, 66, 0.8), rgba(196, 62, 0, 0.8)), url(../img/zechen/ewald-medium-3-min.jpg);
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -10rem; }
  .section-features > * {
    transform: skewY(6deg); }
  @media only screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 5rem 15rem 5rem;
  margin-top: -10rem;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.12); }
  @media only screen and (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 5rem;
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.9), rgba(238, 238, 238, 0.9)), url(../img/zechen/zollverein-medium-5-min.jpg);
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }
