$color-primary: #fc872c;
$color-primary-light: #ff9442;
$color-primary-dark: #c43e00;

$color-secondary-light: #6c655f;
$color-secondary-dark: #4f4a46;

$color-tertiary-light: #a62e2f;
$color-tertiary-dark: #882627;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

