.section-features {
  padding: 20rem 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/zechen/ewald-medium-3-min.jpg);
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(6deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
